<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="MyContextDB" connectionString="Data Source=LAPTOP-9D0CUUL8\MSSQLSERVER01;
         Initial Catalog=InvoiceDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>